{
  "extends": [
    "airbnb/base"
  ],
  "plugins": [
  ],
  "rules": {
    "no-underscore-dangle": "warn",
    "consistent-return": "warn"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "ecmaFeatures": {

  }
}
